/* line 9, ../sass/style.scss */
[class^="food"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  width: 30px;
  height: 30px;
}
/* line 19, ../sass/style.scss */
[class^="food"] img {
  width: 30px;
  height: 30px;
}

/* line 40, ../sass/style.scss */
.bg-wood {
  background: url('/images/bg-wood.png?1374137898');
}

/* id */
/* line 45, ../sass/style.scss */
#health-input-view {
  padding: 5vh 6%;
}

/* main */
/* line 51, ../sass/style.scss */
.main-block, .main-block-1, .main-block-2, .main-block-3, .main-block-4 {
  position: absolute;
  text-align: center;
  width: 30%;
  height: 30%;
  padding: 2%;
  background: white;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  border-radius: 5%;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 65, ../sass/style.scss */
.main-block [class^="icon-"], .main-block-1 [class^="icon-"], .main-block-2 [class^="icon-"], .main-block-3 [class^="icon-"], .main-block-4 [class^="icon-"] {
  display: inline-block;
  padding-top: 10%;
  font-size: 4em;
}
/* line 71, ../sass/style.scss */
.main-block label, .main-block-1 label, .main-block-2 label, .main-block-3 label, .main-block-4 label {
  display: block;
  padding-top: 2%;
  font-size: 1.5em;
}

/* line 80, ../sass/style.scss */
.main-block-1 {
  left: 12%;
  top: 30%;
}

/* line 85, ../sass/style.scss */
.main-block-2 {
  right: 12%;
  top: 30%;
}

/* line 90, ../sass/style.scss */
.main-block-3 {
  left: 12%;
  top: 72%;
}

/* line 95, ../sass/style.scss */
.main-block-4 {
  right: 12%;
  top: 72%;
}

/* reciple */
/* line 106, ../sass/style.scss */
.human-boy {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  margin-left: 10%;
}
/* line 113, ../sass/style.scss */
.human-boy .human-img {
  margin-top: 6%;
  width: 80%;
}
/* line 118, ../sass/style.scss */
.human-boy .touch-area-head, .human-boy .touch-area-chest, .human-boy .touch-area-belly, .human-boy .touch-area-hand-left, .human-boy .touch-area-hand-right, .human-boy .touch-area-leg-left, .human-boy .touch-area-leg-right {
  position: absolute;
  display: block;
  overflow: hidden;
}
/* line 126, ../sass/style.scss */
.human-boy .touch-area-head {
  display: block;
  left: 11%;
  top: 30%;
  width: 60%;
  height: 30%;
}
/* line 132, ../sass/style.scss */
.human-boy .touch-area-chest {
  display: block;
  left: 28%;
  top: 61%;
  width: 25%;
  height: 9%;
}
/* line 138, ../sass/style.scss */
.human-boy .touch-area-belly {
  display: block;
  left: 28%;
  top: 71%;
  width: 25%;
  height: 15%;
}
/* line 144, ../sass/style.scss */
.human-boy .touch-area-hand-left {
  display: block;
  left: 15%;
  top: 61%;
  width: 12%;
  height: 22%;
}
/* line 150, ../sass/style.scss */
.human-boy .touch-area-hand-right {
  display: block;
  left: 54%;
  top: 61%;
  width: 12%;
  height: 22%;
}
/* line 156, ../sass/style.scss */
.human-boy .touch-area-leg-left {
  display: block;
  left: 26%;
  top: 87%;
  width: 13%;
  height: 10%;
}
/* line 162, ../sass/style.scss */
.human-boy .touch-area-leg-right {
  display: block;
  left: 42%;
  top: 87%;
  width: 13%;
  height: 10%;
}
