/* line 5, ../sass/style.scss */
.bg-wood {
  background: url('/images/bg_wood.png?1374137898');
}

/* id */
/* line 10, ../sass/style.scss */
#health-input-view {
  padding: 2vw;
}

/* main */
/* line 16, ../sass/style.scss */
.main-block, .main-block-1, .main-block-2, .main-block-3, .main-block-4 {
  position: absolute;
  text-align: center;
  width: 30vw;
  height: 30vw;
  padding: 2vw;
  background: white;
  -webkit-border-radius: 5vw;
  -moz-border-radius: 5vw;
  -ms-border-radius: 5vw;
  -o-border-radius: 5vw;
  border-radius: 5vw;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 30, ../sass/style.scss */
.main-block [class^="icon-"], .main-block-1 [class^="icon-"], .main-block-2 [class^="icon-"], .main-block-3 [class^="icon-"], .main-block-4 [class^="icon-"] {
  display: inline-block;
  padding-top: 2vw;
  font-size: 17vw;
}
/* line 36, ../sass/style.scss */
.main-block label, .main-block-1 label, .main-block-2 label, .main-block-3 label, .main-block-4 label {
  display: block;
  padding-top: 2vw;
  font-size: 5vw;
}

/* line 45, ../sass/style.scss */
.main-block-1 {
  left: 12vw;
  top: 30vw;
}

/* line 50, ../sass/style.scss */
.main-block-2 {
  right: 12vw;
  top: 30vw;
}

/* line 55, ../sass/style.scss */
.main-block-3 {
  left: 12vw;
  top: 72vw;
}

/* line 60, ../sass/style.scss */
.main-block-4 {
  right: 12vw;
  top: 72vw;
}
