
@import "compass/css3/user-interface";

.content {
  &.hide-nav { 
    bottom: 0px !important;
  }
  &.hide-header {
    top: 0px !important;
  }
  display: none;
}

.input-row .inline-radio {
  display: inline-block;
  padding-top: 8px;
}

.bar-title  {
  $color: #0f7520;
  background: $color;
  @include user-select(none); 
  & [class*="button"]{
    background: shade($color, 40%);
    border-color: shade($color, 60%);
  }
}
.tab-item {
  @include user-select(none); 
  .tab-label {
    padding-top: 2px;
    font-size: 12px;
    font-weight: normal;

    &.active {

    }
  }
}