
.content {
  &.hide-nav { 
    bottom: 0px !important;
  }
  &.hide-header {
    top: 0px !important;
  }
  display: none;
}

.input-row .inline-radio {
  display: inline-block;
  padding-top: 8px;
}

