
@import "compass";
@import "compass/css3/user-interface";
//@import "food/*.png";
//@include all-food-sprites;

$cover-color: rgba(255, 0, 0, 0.5);

[class^="food"] {
  //position: absolute;
  //left: 10%;
  //top: 10%;
  @include user-select(none); 
  display: inline-block;
  $size: 2.5em;
  width: $size;
  height: $size;

  & img {
    
    //margin-top: -$size/2;
    //margin-left: -$size/2;
    width: $size;
    height: $size;
  } 
  
  //@include background-size(cover);
}

@mixin pos($left, $top) {
  display: block;
  left: $left;
  top: $top;
}
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

.bg-wood {
  @include background(image-url("bg-wood.png"));
}

/* id */
#health-input-view, #news-view, #nutrition-view, #ideal-view, #about-view {
  padding: 5% 6%;
}

#store-map {
  width: 100%;
  height: 100%;
}

#post-store-button {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  @include user-select(none); 
}


/* main */
.main-block {
  position: absolute;
  text-align: center;

  width: 30%;
  height: 30%;
  padding: 2%;

  $gray-scale: 255;
  background: rgba($gray-scale,$gray-scale,$gray-scale,1);
  @include border-radius(5%); 
  @include box-shadow(2px 2px 5px rgba(0,0,0,0.5));
  @include user-select(none); 

  & [class^="icon-"]{
    display: inline-block;
    padding-top: 10%;
    font-size: 4em;
  }

  & label { 
    display: block;
    padding-top: 2%;
    font-size: 1.5em;
  }

  &.active {
    @include box-shadow(inset 2px 2px 5px rgba(0,0,0,0.5));
  }

}

$main-block-top: 20%;
.main-block-1 {
  @extend .main-block;
  left: 12%;
  top: 10% + $main-block-top;
}
.main-block-2 {
  @extend .main-block;
  right: 12%;
  top: 10% + $main-block-top;
}
.main-block-3 {
  @extend .main-block;
  left: 12%;
  top: 52% + $main-block-top;
}
.main-block-4 {
  @extend .main-block;
  right: 12%;
  top: 52% + $main-block-top;
}

.main-center {

}

/* reciple */
%human {
  //background-repeat: no-repeat;
  //background-position: center;
  //@include background-size(cover);
  @include user-select(none); 
  
  display: block;
  margin-left: auto;
  margin-right: auto;

  $size: 80%;
  $offset: 1%;
  & .human-img {
    margin-top: 6%;
    margin-left: (100% - $size) / 2 ;
    width: $size;

    &.boy{
    }
    &.girl{
      margin-left: (100% - $size) / 2 - 2%;
    }
  }

  %touch-area {
    position: absolute;
    margin-left: (100% - $size) / 2 ;
    display: block;
    overflow: hidden;
    //background: $cover-color;

  }

  & .touch-area-head {
    @extend %touch-area;
    @include pos(11% + $offset, 30%);
    @include size(60%, 30%);
  }

  & .touch-area-chest {
    @extend %touch-area;
    @include pos(28% + $offset, 61%);
    @include size(25%, 9%);
  }

  & .touch-area-belly {
    @extend %touch-area;
    @include pos(28% + $offset, 71%);
    @include size(25%, 15%);
  }

  & .touch-area-hand-left {
    @extend %touch-area;
    @include pos(15% + $offset, 61%);
    @include size(12%, 22%);
  }

  & .touch-area-hand-right {
    @extend %touch-area;
    @include pos(54% + $offset, 61%);
    @include size(12%, 22%);
  }

  & .touch-area-leg-left {
    @extend %touch-area;
    @include pos(26% + $offset, 87%);
    @include size(13%, 10%);
  }

  & .touch-area-leg-right {
    @extend %touch-area;
    @include pos(42% + $offset, 87%);
    @include size(13%, 10%);
  }


}

.human-boy{
  @extend %human;
  //@include background-image(image-url("human-boy.jpg"))
}

span.green {
  color: tint(green, 20%);
}



