<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="baidu-tc-verification" content="fe4c7d1c9a02158b8dc76af73ad51a05" />
        <title>
        </title>
      
        <link rel="stylesheet" href="css/app.css" />
        <link rel="stylesheet" href="css/ratchet-patch.css" />
        <link rel="stylesheet" href="css/style.css" />

        <script src="/bower_components/jquery/jquery.js"></script>
        <script src="/bower_components/underscore/underscore.js"></script>
        <script src="/bower_components/fastclick/lib/fastclick.js"></script>
        

        <script src="http://api.map.baidu.com/api?v=1.2&ak=E4805d16520de693a3fe707cdc962045"></script>
        <script src="http://api.map.baidu.com/library/MarkerManager/1.2/src/MarkerManager_min.js"></script>

        <script src="js/jstorage.min.js"></script>
        <script src="js/jquery.blockUI.js"></script>
        <script src="js/jquery-plugin.js"></script>
        <script src="js/ratchet-patch.js"></script>
        <script src="js/food-map.js"></script>
        <script src="js/utils.js"></script>
        <script src="js/app.js"></script>
        
        

        <%= livereload_js %>


    </head>
    <body>
      
      <header class="bar-title">
        <span class="button back-button">
          <div class="touch-area"></div>
          返回
        </span>
        <h1 class="title">Customized Health</h1>
        <span class="button refresh-button">
          <div class="touch-area"></div>
          更新
        </span>
      </header>

      <nav class="bar-tab">
        <ul class="tab-inner">
          <li class="tab-item tab-item-1">
            <span class="">
              <i class="icon-gittip icon-large tab-icon icon-light"></i>
              <div class="tab-label">量身訂做</div>
            </span>
          </li>
          <li class="tab-item tab-item-2">
            <span class="">
              <i class="icon-book icon-large tab-icon icon-light"></i>
              <div class="tab-label">營養總覽</div>
            </span>
          </li>
          <li class="tab-item tab-item-3">
            <span class="">
              <i class="icon-map-marker icon-large tab-icon icon-light"></i>
              <div class="tab-label">店家資訊</div>
            </span>
          </li>
          <li class="tab-item tab-item-4">
            <span class="">
              <i class="icon-male icon-large tab-icon icon-light"></i>
              <div class="tab-label">理想體態</div>
            </span>
          </li>
        </ul>
      </nav>

      <div class="content bg-wood hide-nav hide-refresh hide-back first-content" id="main-view">
        <div class="center main-center">
          <div class="main-block-1">
            <i class="icon-edit"></i>
            <label>我的報告</label>
          </div>
          <div class="main-block-2">
            <i class="icon-food"></i>
            <label>黃金餐點</label></div>
          <div class="main-block-3">
            <i class="icon-user-md"></i>
            <label>健康資訊</label></div>
          <div class="main-block-4">
            <i class="icon-github-alt"></i>
            <label>關於我們</label>
          </div>
        </div>
      </div>

      <div class="content bg-wood hide-nav" id="health-input-view">
        <div class="input-group">
          <div class="input-row">
            <label>身高</label>
            <input type="text" id="height" placeholder="(cm)">
          </div>
          <div class="input-row">
            <label>體重</label>
            <input type="text" id="weight" placeholder="(kg)">
          </div>
          <div class="input-row">
            <label>胸圍</label>
            <input type="text" id="chest" placeholder="(cm)">
          </div>
          <div class="input-row">
            <label>腰圍</label>
            <input type="text" id="belly" placeholder="(cm)">
          </div>
          <div class="input-row">
            <label>臀圍</label>
            <input type="text" id="buttock" placeholder="(cm)">
          </div>
          <div class="input-row">
            <label>手臂圍</label>
            <input type="text" id="hand" placeholder="(cm)">
          </div>
          <div class="input-row">
            <label>大腿圍</label>
            <input type="text" id="leg" placeholder="(cm)">
          </div>
          <div class="input-row">
            <label>性別</label>
            <sapn class="inline-radio">
              <input type="radio" name="sex" value="m"> 
              <span>男</span>
              <input type="radio" name="sex" value="f"> 
              <span>女</span>
            </sapn>
          </div>
        </div>
        <span class="button button-block" id="save-health-button">確定</span>
      </div>
    

      <div class="content bg-wood " id="reciple-view">
        <div class="human-boy">
          <img class="human-img" src="/images/human-girl.png" />

          <div class="touch-area-head"></div>
          <div class="touch-area-chest"></div>
          <div class="touch-area-belly"></div>
          <div class="touch-area-hand-left"></div>
          <div class="touch-area-hand-right"></div>
          <div class="touch-area-leg-left"></div>
          <div class="touch-area-leg-right"></div>
        </div>
        <span class="button button-block" id="post-store-button">
          <i class="icon-exchange"></i>
          連結店家
        </span>
      </div>

      <div class="content bg-wood " id="store-view">
        <div id="store-map"></div>
        
      </div>

      <div class="content bg-wood " id="nutrition-view">
        <ul class="list" id="nutritionList">
        </ul>
        
      </div>

      <div class="content bg-wood " id="ideal-view">
        <ul class="list" id="idealList">
        </ul>
        
      </div>

      <div class="content bg-wood hide-nav" id="news-view">
        <ul class="list" id="newsList">
          <li>
            <a href="#">
              <h2>1234</h2>
              <div>1234</div>
              <span class="chevron"></span>
            </a>
          </li>
          <li>
            <a href="#">
              <h2>1234</h2>
              <div>1234</div>
              <span class="chevron"></span>
            </a>
          </li>
          
        </ul>
      </div>

      <div class="content bg-wood hide-nav" id="about-view">
        <ul class="list" id="newsList">
          <li>
            <h2>關於程式</h2><br />
            <div>這是在百度Hackathon的作品「<b>Customized Health - 訂製健康</b>」，我們是「昨晚不睡覺」隊! </div><br />
            <div>我們藉百度所提供的BAE服務、地圖API服務，搭配上Kinect製作此應用，址在讓一般大眾能輕鬆的控制自己的飲食。也藉Kinect豐富點餐的互動性，達到本次「Code for Green Life」的目的。</div>
          </li>
          <li>
            <h2>Source Code</h2><br />
            <div>秉持Hackathon共享歡樂的精神，想把我們兩天努力的成果分享給大家！</div>
            <div><a href="https://github.com/HondaDai/Customized-Health">Github: https://github.com/HondaDai/Customized-Health</a></div>
          </li>
          <li>
            <h2>作者群</h2><br />
            <div>Honda、小均、千雅 </div>
            <div>2013/07/27，28</div>
          </li>
        </ul>
      </div>
    </body>
</html>
