<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <title>
        </title>
      
        <link rel="stylesheet" href="css/app.css" />
        <link rel="stylesheet" href="css/compass-ratchet.css" />
        <link rel="stylesheet" href="css/style.css" />

        <script src="/bower_components/jquery/jquery.js"></script>
        <script src="/bower_components/underscore/underscore.js"></script>
        
        <script src="js/jquery-plugin.js"></script>
        <script src="js/ratchet-patch.js"></script>
        <script src="js/app.js"></script>
        
        <%= livereload_js %>
    </head>
    <body>
      

      <nav class="bar-tab">
        <ul class="tab-inner">
          <li class="tab-item active">
            <a href="#main">
              <i class="icon-gittip icon-large tab-icon icon-light"></i>
              <div class="tab-label">營養</div>
            </a>
          </li>
          <li class="tab-item">
            <a href="#appli">
              <i class="icon-map-marker icon-large tab-icon icon-light"></i>
              <div class="tab-label">店家</div>
            </a>
          </li>
        </ul>
      </nav>

      <div class="content bg-wood hide-nav" id="main-view">
        <div class="main-block-1">
          <i class="icon-edit"></i>
          <label>我的報告</label>
        </div>
        <div class="main-block-2">
          <i class="icon-food"></i>
          <label>黃金餐點</label></div>
        <div class="main-block-3">
          <i class="icon-user-md"></i>
          <label>健康資訊</label></div>
        <div class="main-block-4">
          <i class="icon-dribbble"></i>
          <label>運動紀錄</label>
        </div>
      </div>

      <div class="content bg-wood" id="health-input-view">
        <div class="input-group">
          <div class="input-row">
            <label>身高</label>
            <input type="text" placeholder="(cm)">
          </div>
          <div class="input-row">
            <label>體重</label>
            <input type="text" placeholder="(kg)">
          </div>
          <div class="input-row">
            <label>腰圍</label>
            <input type="text" placeholder="(cm)">
          </div>
          <div class="input-row">
            <label>臀圍</label>
            <input type="text" placeholder="(cm)">
          </div>
          <div class="input-row">
            <label>性別</label>
            <sapn class="inline-radio">
              <input type="radio" name="sex" value="m"> 
              <span>男</span>
              <input type="radio" name="sex" value="f"> 
              <span>女</span>
            </sapn>
          </div>
        </div>
        <span class="button button-block">確定</span>
      </div>
    

      <div class="content bg-wood first-content" id="reciple-view">
        <div class="human-boy">
          <img class="human-img" src="/images/human-girl.png" />

          <div class="touch-area-head"></div>
          <div class="touch-area-chest"></div>
          <div class="touch-area-belly"></div>
          <div class="touch-area-hand-left"></div>
          <div class="touch-area-hand-right"></div>
          <div class="touch-area-leg-left"></div>
          <div class="touch-area-leg-right"></div>
        </div>

        <div class="food">
          <img src="images/food/banana.png" />
        </div>
      </div>
    </body>
</html>
